- var pageTitle   = "";
- var pageDesc    = info.description;
- var ogpImage    = info.ogpImage;
- var ogpImageAlt = info.ogpImageAlt;
- var pageUrl     = info.rootUrl;
- var siteName    = info.name;
- var pathToImg   = "/img/";
- var pathToCss   = "/css/";
- var pathToJs    = "/js/";
- var pathToHtml  = "/";
